container_commands:
    00_install_dev_deps: 
        command: "npm install --production=false"
        cwd: "/var/app/staging"
        ignoreErrors: false

    10_build_nuxt_app:
        command: "npm run build > /var/log/nuxt-output.log 2>&1"
        cwd: "/var/app/staging"
        ignoreErrors: false
